#test {
  border: #5ab029 3px solid;
  margin: 100px;
  padding: 10px 40px 40px 40px;
  background-color: #e5fce3;
  width: 50%;
}

#timer {
  border: #5ab029 3px solid;
  margin: 50px;
  padding: 10px 40px 40px 40px;
  background-color: #e5fce3;
  width: 50%;
}
